body{
background-color: grey;
}
#fondtete{

  height: 150px;
  width: 100%;
  margin-top: -20px;
}

.entete{
  color: white;
  font-family: serif;
  text-align: center;
  font-size: 60px;
  background-color: black;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
